{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">Just someone that enjoys working in a cafe.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          Started building this page as part of 100 days of code: python bootcamp project,
          but working in a cafe has always been enjoyable for me, there are so many projects that I managed to finish while working inside a cafe.
          Thus, I thought, why not make it a personal blog and a place for people to share their experience of working in cafe.
        </p>
        <p>
          Everyone can add their favorite cafe into this list, while I'm starting with just Jakarta, once there are bigger community, I would love to expand it to other cities too.
          Definitely, inspired by <a href="https://laptopfriendly.co/">laptopfriendly.co</a> (which you guys should check out if you're living overseas), which was the blueprint for this project,
          but since I really enjoy building this, I would like to be able to create a similar platform for Jakarta, with a bit of a more personal touch in a bloglike environment.
        <p>
          I hope that I can build a community for people that wants to share their experience of working in a cafe.
          From popular places (looking at you starbucks), to more of a small coffeeshop that allows you to interact with the barista, and many more.
          Hope you enjoy this site!
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
